footer.footer
	.container
		.footer-content
			.footer-content__qr
				img(src="/images/qr-image.png")
			.footer-content__contact
				p CONTÁCTANOS
				ul
					li
						a(href="/" target="_blank")
							<i class="icon-whatsapp"></i>
							| 982 141 940
					li
						a(href="mailto:contacto@santacruzfoto.com" target="_blank")
							img(src="/images/icons/icon-mail.png", alt="email" width="26")
							| contacto@santacruzfoto.com
					li
						a(href="/" target="_blank")
							<i class="icon-location"></i>
							| Calle Juan Norberto Eléspuru 255 - San Isidro
			.footer-content__follow
				p SÍGUENOS
				ul
					li
						a(href="/" target="_blank")
							<i class="icon-facebook2"></i>
					li
						a(href="/" target="_blank")
							<i class="icon-instagram"></i>
					li
						a(href="/" target="_blank")
							<i class="icon-youtube"></i>
		.copy
			p Copyright &copy; 2023 SantaCruz Fotografía - Todos los derechos reservados.

