nav.navbar
	ul.navbar-ul
		li
			a(href="servicios.html") servicios
		li
			a(href="productos.html") productos
		li
			a(href="preboda.html") preboda
		li
			a(href="makeup.html") make up
		li
			a(href="indoor.html") indoor
		li
			a(href="outdoor.html") outdoor
		li
			a(href="familia.html") familia
		li
			a(href="contacto.html") contacto
			ul.submenu
				li
					a(href="tel:992174324") 992 174 324
				li
					a(href="mailto:contacto@santacruzfoto.com" target="_blank") contacto@santacruzfoto.com
	.contact-mobile
		a(href="tel:992174324") 992 174 324
		a(href="mailto:contacto@santacruzfoto.com" target="_blank") contacto@santacruzfoto.com
	button.hamburguer
		span
		span
		span

