nav.navbar
	ul
		li
			a(href="/servicios.html") servicios
		li
			a(href="/productos.html") productos
		li
			a(href="/preboda.html") preboda
		li
			a(href="/outdoor.html") outdoor
		li
			a(href="/indoor.html") indoor
		li
			a(href="/makeup.html") make up
		li
			a(href="/familia.html") familia
		li
			a(href="/contacto.html") contacto