.familia-header {
    &__inner {
        max-width: 600px;
        margin: 0 auto;
    }
}

.familia-main-section {
    padding: 40px 0 80px;
    background-color: $light-grey;

    &__inner {
        @include max-tablet {
            padding: 0 25px;
        }

        @include max-phone {
            padding: 0 20px;
        }

        .familia-box {
            max-width: 840px;
            margin: 0 auto;

            @include max-tablet {
                max-width: 600px;
            }

            &__image {
                display: flex;
                gap: 10px;
                margin-bottom: 10px;

                img {
                    width: 100%;
                }
            }

            &__text {
                color: $shadow-blue;

                p {
                    font-size: 25px;
                    line-height: 30px;

                    @include max-phone {
                        font-size: 20px;
                        line-height: 24px;
                        padding: 0 20px;
                    }

                    strong {
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

.gallery-familia {
    padding: 20px 0 120px;

    &__content {
        max-width: 992px;
        margin: 0 auto;
        display: flex;
        gap: 10px;
        flex-direction: column;

        @include max-tablet {
            gap: 20px;
            padding: 0 20px;
        }

        @include max-phone {
            padding: 0;
        }

        .gallery-general {
            @include max-tablet {
                gap: 20px;
            }

            &.full-width {
                @include max-tablet {
                    margin-left: -20px;
                    margin-right: -20px;
                    overflow: hidden;
                }

                @include max-phone {
                    margin-left: 0px;
                    margin-right: 0px;
                    overflow: visible;
                }
            }

            p {
                margin-top: 20px;

                @include max-tablet {
                    font-size: 20px;
                    line-height: 24px;
                    padding: 10px 20px;
                }

                @include max-phone {
                    font-size: 16px;
                    line-height: 20px;
                    padding: 10px 20px;
                }
            }

            &.col-50 {
                @include max-phone {
                    flex-direction: column;
                }

                .gallery-general__left {
                    flex-basis: 50%;

                    @include max-phone {
                        flex-basis: 100%;
                    }
                }

                .gallery-general__right {
                    flex-basis: 51%;

                    @include max-phone {
                        flex-basis: 100%;
                    }
                }
            }

            &__left {
                &.group-1 {
                    flex-basis: 70%;
                    @include max-tablet {
                        flex-basis: 100%;
                    }
                }

                &.group-3 {
                    flex-basis: 40%;
                }
            }

            &__right {
                &.group-1 {
                    flex-basis: 31%;
                }

                &.group-2 {
                    flex-basis: 31%;
                }

                &.group-3 {
                    flex-basis: 60%;

                    @include max-tablet {
                        flex-basis: 100%;
                    }
                }
            }

            &__full {
                &__image {
                    &.full-width {
                        @include max-tablet {
                            width: 100%;
                        }
                    }
                }
            }

            &.hidden-tablet {
                @include max-tablet {
                    display: none;
                }
            }

            &.show-tablet {
                @include min-desktop {
                    display: none;
                }
            }
        }
    }
}

.name {
    font-family: 'malasia';
    text-align: right;
    color: $shadow-blue;
    font-size: 42px;

    @include max-phone {
        text-align: center;
    }
}
