.home-header {
    height: 100vh;
    background-image: url($imgPrefix + 'images/home/home-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__inner {
        height: 100%;
    }

    &__logo {
        max-width: 400px;
        position: absolute;
        left: 50%;
        margin-left: -200px;
        top: 180px;

        @include max-tablet {
            max-width: 500px;
            margin-left: -250px;
        }

        @include max-phone {
            max-width: 320px;
            margin-left: -160px;
        }

        img {
            width: 100%;
        }
    }

    &__quote {
        position: absolute;
        left: 50%;
        margin-left: -150px;
        bottom: 120px;
        padding: 15px 25px;
        opacity: 0.5;

        @include max-phone {
            max-width: 160px;
            margin-left: -75px;
        }

        p {
            color: $white;
            font-family: 'Montserrat';
            font-style: italic;
            font-weight: 400;
            text-align: center;

            span {
                display: block;
            }
        }

        .border {
            border-color: $white;
            position: absolute;

            &:first-child {
                width: calc(100% + 20px);
                border-top: 1px solid $white;
                left: -10px;
                top: 0;
            }

            &:nth-child(2) {
                height: calc(100% + 20px);
                border-left: 1px solid $white;
                right: 0px;
                top: -10px;
            }

            &:nth-child(3) {
                width: calc(100% + 20px);
                border-top: 1px solid $white;
                left: -10px;
                bottom: 0;
            }

            &:nth-child(4) {
                height: calc(100% + 20px);
                border-left: 1px solid $white;
                left: 0px;
                top: -10px;
            }
        }
    }
}

.quote-section {
    padding: 100px 0;

    @include max-tablet {
        padding: 80px 0;
    }

    @include max-phone {
        padding: 60px 0;
    }

    &__inner {
        .quote-image {
            max-width: 850px;
            margin: 0 auto;
            position: relative;

            @include min-lg-desktop {
                max-width: 1090px;
            }

            &__inner {
                position: relative;
                margin-bottom: 10px;

                @include max-tablet {
                    background-image: url($imgPrefix + 'images/home/quote-photo-tablet.jpg');
                    background-size: cover;
                    background-position: center;
                    min-height: 450px;
                    margin-bottom: 40px;
                }

                @include max-phone {
                    background-image: url($imgPrefix + 'images/home/quote-photo-mobile.jpg');
                    min-height: 430px;
                    margin-bottom: 30px;
                }

                &:after {
                    display: block;
                    content: '';
                    border: 1px solid #fff;
                    position: absolute;
                    top: 20px;
                    left: 20px;
                    right: 20px;
                    bottom: 20px;
                    border-radius: 20px;
                    z-index: 1;
                    opacity: 0.8;

                    @include max-tablet {
                        display: none;
                    }
                }

                img {
                    width: 100%;

                    @include max-tablet {
                        display: none;
                    }
                }

                p.text-desktop {
                    text-transform: uppercase;
                    color: $white !important;
                    position: absolute;
                    font-style: italic;
                    left: 40px;
                    top: 50%;
                    text-align: left !important;
                    z-index: 2;
                    font-size: 32px;
                    line-height: 32px;
                    margin-top: -66px;
                    font-family: 'Montserrat';
                    font-style: italic;
                    font-weight: 400;

                    @include max-tablet {
                        margin-top: -86px;
                        font-size: 28px;
                        line-height: 38px;
                    }

                    @include max-phone {
                        display: none;
                    }

                    em {
                        @include max-tablet {
                            font-size: 44px;
                            line-height: 52px;
                        }
                    }

                    strong,
                    small {
                        display: block;
                    }

                    strong,
                    span {
                        font-weight: 700;
                        font-size: 34px;
                        line-height: 34px;

                        @include max-tablet {
                            font-size: 28px;
                            line-height: 28px;
                        }
                    }

                    small {
                        font-size: 20px;

                        @include max-tablet {
                            font-size: 28px;
                            line-height: 32px;
                            max-width: 180px;
                        }
                    }
                }

                .text-left {
                    text-transform: uppercase;
                    position: absolute;
                    top: 30px;
                    left: 30px;
                    color: $white;
                    font-family: 'Montserrat';
                    font-style: italic;
                    font-weight: 400;
                    font-size: 20px;

                    strong {
                        display: block;
                        max-width: 160px;
                    }

                    @include min-tablet {
                        display: none;
                    }
                }

                .text-right {
                    text-transform: uppercase;
                    position: absolute;
                    bottom: 0px;
                    right: 30px;
                    color: $white;
                    font-family: 'Montserrat';
                    font-style: italic;
                    font-weight: 400;
                    font-size: 20px;
                    text-align: right;

                    strong {
                        display: block;
                    }

                    @include min-tablet {
                        display: none;
                    }
                }
            }

            &__caption {
                text-align: center;
                color: $shadow-blue;
                font-size: 16px;
                line-height: 20px;

                @include min-lg-desktop {
                    font-size: 20px;
                    line-height: 24px;
                }

                @include max-tablet {
                    padding: 0 20px;
                    font-size: 26px;
                    line-height: 30px;
                }

                @include max-phone {
                    font-size: 17px;
                    line-height: 21px;
                    padding: 0 60px;
                }
            }

            &__left,
            &__right {
                font-size: 300px;
                line-height: 300px;
                color: #e3e7e9;
                display: inline-block;
                height: 150px;
                position: absolute;
                z-index: 2;
                top: 50%;
                margin-top: -75px;
                font-family: 'pertili';

                @include max-tablet {
                    position: static;
                    display: block;
                    text-align: center;
                    margin-top: 0;
                }

                @include max-phone {
                    font-size: 200px;
                    line-height: 200px;
                    height: 100px;
                }
            }

            &__left {
                left: -180px;

                @include max-tablet {
                    margin-bottom: 40px;
                }
            }

            &__right {
                right: -180px;

                @include max-tablet {
                    margin-top: 40px;
                }
            }
        }
    }
}

.wedding-section {
    padding: 65px 0;
    background-image: url($imgPrefix + 'images/home/bg-wedding-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include max-tablet {
        background-image: url($imgPrefix + 'images/home/bg-wedding-tablet.jpg');
    }

    @include max-phone {
        background-image: url($imgPrefix + 'images/home/bg-wedding-mobile.jpg');
    }

    &__inner {
        .wedding-image {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;

            @include max-tablet {
                flex-direction: column;
            }

            &__text {
                width: 320px;
                position: relative;
                font-size: 22px;
                line-height: 26px;
                text-align: center;
                padding: 0 55px;
                height: 320px;
                display: flex;
                align-items: center;
                color: $white;

                @include min-lg-desktop {
                    width: 380px;
                    height: 380px;
                    font-size: 26px;
                    line-height: 29px;
                }

                @include max-tablet {
                    width: 320px;
                    height: 320px;
                    font-size: 18px;
                    line-height: 22px;
                    padding: 0 62px;
                }

                @include max-phone {
                    width: 270px;
                    height: 270px;
                    padding: 0 35px;
                    font-size: 16px;
                }

                &:before {
                    content: '';
                    display: block;
                    width: 320px;
                    height: 320px;
                    position: absolute;
                    top: 0;
                    border: 1px solid $white;
                    border-radius: 50%;
                    left: -8px;

                    @include min-lg-desktop {
                        width: 380px;
                        height: 380px;
                    }

                    @include max-tablet {
                        width: 320px;
                        height: 320px;
                    }

                    @include max-phone {
                        width: 270px;
                        height: 270px;
                    }
                }

                &:after {
                    content: '';
                    display: block;
                    width: 320px;
                    height: 320px;
                    position: absolute;
                    top: 0;
                    border: 1px solid $white;
                    border-radius: 50%;
                    right: -8px;

                    @include min-lg-desktop {
                        width: 380px;
                        height: 380px;
                    }

                    @include max-tablet {
                        width: 320px;
                        height: 320px;
                    }

                    @include max-phone {
                        width: 270px;
                        height: 270px;
                    }
                }

                strong {
                    display: block;
                    font-weight: normal;
                    font-size: 48px;
                    line-height: 52px;
                    letter-spacing: 3px;

                    @include min-lg-desktop {
                        font-size: 63px;
                        line-height: 68px;
                    }
                }
            }

            img {
                max-width: 280px;
                transition: all 300ms ease;

                @include min-lg-desktop {
                    max-width: initial;
                }

                @include max-tablet {
                    max-width: 270px;
                }

                @include max-phone {
                    max-width: 220px;
                }
            }
        }
    }
}

.weare-section {
    padding: 80px 0;

    &__inner {
        .weare-box {
            max-width: 1120px;
            margin: 0 auto;
            padding: 40px;
            border: 2px dashed #eee;

            @include max-tablet {
                padding: 0;
                border: 0;
            }

            &__inner {
                padding: 40px;
                background-color: #eee;

                @include max-tablet {
                    padding: 0;
                    border: 0;
                }

                &__content {
                    background-image: url($imgPrefix + 'images/home/weare-photo.jpg');
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    min-height: 460px;
                    position: relative;

                    @include max-tablet {
                        background-position: right;
                        min-height: 650px;
                    }

                    @include max-phone {
                        min-height: 350px;
                    }

                    .weare-description {
                        color: $white;
                        max-width: 550px;

                        @include max-tablet {
                            display: none;
                        }

                        &__top {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            border-bottom: 1px solid $white;
                            padding: 25px 0 15px 25px;

                            p {
                                font-size: 28px;
                                line-height: 32px;

                                span {
                                    display: block;
                                }
                            }

                            img {
                                width: 90px;
                            }
                        }

                        &__bottom {
                            padding: 20px 0 0 0;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-end;

                            p {
                                text-align: right;
                                font-size: 14px;
                                line-height: 18px;
                                max-width: 65%;
                                font-family: 'Montserrat';
                                font-style: italic;
                            }
                        }
                    }

                    .weare-description-mobile {
                        position: absolute;
                        max-width: 240px;
                        color: $white;
                        left: 12%;
                        top: 15%;

                        @include min-desktop {
                            display: none;
                        }

                        @include max-phone {
                            left: 8%;
                            top: 10%;
                            max-width: 140px;
                        }

                        p {
                            font-size: 42px;
                            line-height: 48px;

                            @include max-phone {
                                font-size: 24px;
                                line-height: 26px;
                            }

                            span {
                                display: block;
                            }
                        }

                        img {
                            width: 80px;
                            position: absolute;
                            top: 0;
                            right: 5px;

                            @include max-phone {
                                width: 45px;
                            }
                        }
                    }
                }
            }

            &__textMobile {
                font-size: 26px;
                line-height: 30px;
                color: $shadow-blue;
                padding: 40px 50px 0;
                text-align: center;

                @include min-desktop {
                    display: none;
                }

                @include max-phone {
                    padding: 20px 80px 0;
                    font-size: 16px;
                    color: $shadow-blue;
                    line-height: 20px;
                }
            }
        }
    }
}

.shine-section {
    background: rgb(73, 90, 105);
    margin-bottom: 100px;
    background-image: url($imgPrefix + 'images/home/shine-photo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include max-tablet {
        margin-bottom: 30px;
        background-position: left -190px center;
    }

    @include max-phone {
        background-position: left -200px center;
    }

    &__inner {
        padding: 60px 0;
        max-width: 1024px;
        margin: 0 auto;
        position: relative;
        display: flex;
        justify-content: flex-end;
        min-height: 500px;
        align-items: center;

        @include min-lg-desktop {
            max-width: 1260px;
            min-height: 650px;
        }

        @include max-tablet {
            min-height: 650px;
        }

        @include max-phone {
            min-height: 450px;
        }

        .shine-box {
            text-align: right;

            @include max-tablet {
                padding-right: 40px;
                margin-top: -40px;
            }

            @include max-phone {
                padding-right: 20px;
                margin-top: 10px;
            }

            &__title {
                font-size: 165px;
                line-height: 145px;
                text-transform: uppercase;
                padding: 10px;
                border: 14px solid $white;
                color: $white;
                display: inline-block;
                margin-bottom: 30px;
                font-weight: 600;
                opacity: 0.6;
                font-family: 'montserrat-bold';
                padding-bottom: 0;

                @include min-lg-desktop {
                    font-size: 200px;
                    line-height: 180px;
                }

                @include max-tablet {
                    font-size: 100px;
                    line-height: 88px;
                    border: 10px solid $white;
                    padding: 10px;
                    padding-bottom: 0;
                    margin-bottom: 35px;
                }

                @include max-phone {
                    font-size: 40px;
                    line-height: 44px;
                    border: 5px solid $white;
                    padding: 5px;
                    padding-bottom: 0;
                    margin-bottom: 15px;
                }
            }

            &__subtitle {
                color: $white;
                margin-bottom: 20px;
                font-size: 25px;
                font-family: 'Montserrat';
                font-style: italic;
                font-weight: 500;

                @include min-lg-desktop {
                    font-size: 28px;
                }

                @include max-tablet {
                    font-size: 25px;
                    max-width: 420px;
                    margin-left: auto;
                    margin-bottom: 30px;
                }

                @include max-phone {
                    font-size: 14px;
                    max-width: 200px;
                    margin-left: auto;
                    margin-bottom: 10px;
                }
            }

            &__contact {
                display: flex;
                align-items: center;
                color: $white;
                justify-content: flex-end;
                font-family: 'Montserrat';
                font-style: italic;

                @include max-tablet {
                    flex-direction: column-reverse;
                    gap: 30px;
                    align-items: flex-end;
                }

                @include max-phone {
                    gap: 15px;
                }

                p {
                    padding-right: 25px;
                    border-right: 1px solid $white;
                    font-size: 16px;
                    line-height: 20px;

                    @include min-lg-desktop {
                        font-size: 20px;
                        line-height: 24px;
                    }

                    @include max-tablet {
                        border-right: none;
                        padding-right: 0;
                        font-size: 20px;
                        line-height: 24px;
                    }

                    @include max-phone {
                        font-size: 14px;
                        line-height: 18px;
                        max-width: 120px;
                    }

                    span {
                        font-weight: 500;
                        display: block;
                    }
                }

                ul {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    padding-left: 25px;

                    @include max-phone {
                        gap: 10px;
                    }

                    li {
                        a {
                            img {
                                width: 55px;

                                @include min-lg-desktop {
                                    width: 75px;
                                }

                                @include max-tablet {
                                    width: 75px;
                                }

                                @include max-phone {
                                    width: 45px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.fotobook-section {
    padding: 80px 0;
    color: $shadow-blue;

    @include max-tablet {
        padding: 70px 25px;
    }

    @include max-phone {
        padding: 50px 25px;
    }

    &__inner {
        max-width: 970px;
        margin: 0 auto;

        @include min-lg-desktop {
            max-width: 1150px;
        }

        &__title {
            margin-bottom: 30px;

            @include max-tablet {
                margin-bottom: 0;
                padding-left: 80px;
            }

            @include max-phone {
                padding-left: 0px;
                margin-bottom: 20px;
            }

            h2 {
                font-size: 64px;
                font-family: 'montserrat-bold-italic';
                margin-bottom: 10px;

                @include min-lg-desktop {
                    font-size: 84px;
                }

                @include max-tablet {
                    font-size: 60px;
                    line-height: 72px;
                    max-width: 250px;
                }

                @include max-phone {
                    max-width: 100%;
                    text-align: center;
                    font-size: 54px;
                    line-height: 64px;
                }
            }

            p {
                font-size: 22px;
                line-height: 26px;
                max-width: 800px;
                font-family: 'Montserrat';
                font-style: italic;
                font-weight: 500;

                @include min-lg-desktop {
                    font-size: 26px;
                    line-height: 30px;
                    max-width: 950px;
                }

                @include max-tablet {
                    max-width: 480px;
                    font-size: 26px;
                    line-height: 30px;
                }

                @include max-phone {
                    font-size: 18px;
                    line-height: 22px;
                    text-align: center;
                    padding: 0 30px;
                }
            }
        }

        &__text {
            font-size: 18px;
            line-height: 22px;
            font-family: 'Montserrat';
            font-style: italic;
            font-weight: 500;

            @include min-lg-desktop {
                font-size: 22px;
                line-height: 26px;
            }

            @include max-tablet {
                font-size: 26px;
                line-height: 30px;
                max-width: 560px;
                margin: 0 auto;
            }

            @include max-phone {
                font-size: 18px;
                line-height: 22px;
                text-align: center;
            }
        }

        .fotobook-content {
            margin-bottom: 40px;
            display: flex;
            align-items: center;
            gap: 20px;
            justify-content: center;

            @include max-tablet {
                flex-direction: column-reverse;
                margin-bottom: 25px;
            }

            &__list {
                box-shadow: -5px 6px 10px #d4d4d4;
                min-width: 380px;

                @include max-tablet {
                    min-width: 450px;
                }

                @include max-phone {
                    min-width: auto;
                }

                ul {
                    li {
                        text-transform: uppercase;
                        font-style: italic;
                        padding: 12px 15px;
                        font-size: 15px;
                        background-color: $light-grey;
                        border-bottom: 1px solid #cccccc;
                        font-family: 'Montserrat';
                        font-style: italic;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        @include max-tablet {
                            font-size: 17px;
                            padding: 15px 20px;
                        }

                        @include max-phone {
                            font-size: 14px;
                            text-align: center;
                            justify-content: center;
                        }

                        i {
                            font-size: 16px;

                            @include max-phone {
                                display: none;
                            }
                        }
                    }
                }
            }

            &__image {
                text-align: center;

                img {
                    width: 100%;

                    @include max-tablet {
                        width: 90%;
                    }
                }
            }
        }
    }
}

.custom-section {
    padding: 80px 0;
    color: $shadow-blue;
    background-color: $light-grey;

    @include max-tablet {
        padding: 60px 0 80px;
    }

    @include max-phone {
        padding: 40px 0 60px;
    }

    &__inner {
        max-width: 970px;
        margin: 0 auto;

        @include min-lg-desktop {
            max-width: 1150px;
        }

        @include max-tablet {
            width: 80%;
        }

        h2 {
            font-size: 64px;
            font-family: 'montserrat-bold-italic';

            @include min-lg-desktop {
                font-size: 84px;
            }

            @include max-tablet {
                font-size: 60px;
                margin-bottom: 10px;
            }

            @include max-phone {
                text-align: center;
                font-size: 54px;
            }

            strong {
                display: block;
                font-size: 34px;
                padding-left: 25px;
                font-family: 'Montserrat';
                font-style: italic;
                font-weight: 500;

                @include min-lg-desktop {
                    font-size: 42px;
                }

                @include max-tablet {
                    font-size: 30px;
                    padding-left: 0;
                }

                @include max-phone {
                    font-size: 25px;
                }
            }
        }

        .custom-content {
            margin-top: -20px;

            @include max-tablet {
                margin-top: 0;
            }

            img {
                width: 100%;
                display: block;
                margin-bottom: 30px;
            }

            img.mobile {
                display: none;
                width: 90%;
                margin: 0 auto;

                @include max-tablet {
                    display: block;
                }

                @include max-phone {
                    width: 100%;
                }
            }

            img.desktop {
                @include max-tablet {
                    display: none;
                }
            }

            p {
                font-size: 22px;
                line-height: 26px;
                font-family: 'Montserrat';
                font-style: italic;
                font-weight: 500;

                @include min-lg-desktop {
                    font-size: 28px;
                    line-height: 32px;
                }

                @include max-tablet {
                    font-size: 25px;
                    line-height: 29px;
                }

                @include max-phone {
                    font-size: 18px;
                    line-height: 22px;
                    text-align: center;
                }
            }
        }
    }
}

.art-section {
    padding: 80px 0;
    color: $shadow-blue;

    @include max-tablet {
        padding: 60px 0 80px;
    }

    &__inner {
        max-width: 970px;
        margin: 0 auto;

        @include min-lg-desktop {
            max-width: 1150px;
        }

        @include max-tablet {
            width: 80%;
        }

        &__title {
            margin-bottom: 20px;
            font-family: 'Montserrat';
            font-style: italic;
            font-weight: 500;

            @include min-lg-desktop {
                margin-bottom: 30px;
            }

            @include max-tablet {
                margin-bottom: 50px;
            }

            h2 {
                font-size: 64px;
                margin-bottom: 15px;
                font-family: 'montserrat-bold-italic';

                @include min-lg-desktop {
                    font-size: 84px;
                }

                @include max-tablet {
                    font-size: 60px;
                    margin-bottom: 10px;
                }

                @include max-phone {
                    font-size: 56px;
                    text-align: center;
                }

                strong {
                    display: block;
                    font-size: 32px;
                    padding-left: 50px;
                    font-family: 'montserrat-regular';

                    @include min-lg-desktop {
                        font-size: 42px;
                    }

                    @include max-tablet {
                        font-size: 30px;
                        padding-left: 0;
                    }

                    @include max-phone {
                        font-size: 25px;
                    }
                }
            }

            p {
                font-size: 20px;
                line-height: 24px;
                max-width: 550px;

                @include min-lg-desktop {
                    font-size: 28px;
                    line-height: 32px;
                    max-width: 700px;
                }

                @include max-tablet {
                    font-size: 25px;
                    line-height: 29px;
                    text-align: left;
                    max-width: 100%;
                }

                @include max-phone {
                    font-size: 18px;
                    line-height: 22px;
                    text-align: center;
                }
            }
        }

        .art-content {
            @include max-tablet {
                display: none;
            }

            img {
                width: 100%;
                display: block;
                margin-bottom: 10px;
            }

            &__text {
                position: relative;
                text-align: center;
                padding: 15px;

                @include min-lg-desktop {
                    padding: 20px;
                }

                .border {
                    border-color: $white;
                    position: absolute;

                    &:first-child {
                        width: calc(100% + 20px);
                        border-top: 1px solid $shadow-blue;
                        left: -10px;
                        top: 0;
                    }

                    &:nth-child(2) {
                        height: calc(100% + 20px);
                        border-left: 1px solid $shadow-blue;
                        right: 0px;
                        top: -10px;
                    }

                    &:nth-child(3) {
                        width: calc(100% + 20px);
                        border-top: 1px solid $shadow-blue;
                        left: -10px;
                        bottom: 0;
                    }

                    &:nth-child(4) {
                        height: calc(100% + 20px);
                        border-left: 1px solid $shadow-blue;
                        left: 0px;
                        top: -10px;
                    }
                }

                p {
                    font-size: 24px;
                    line-height: 28px;
                    font-family: 'Montserrat';
                    font-style: italic;
                    font-weight: 500;

                    @include min-lg-desktop {
                        font-size: 32px;
                    }
                }
            }
        }

        .art-content-mobile {
            display: flex;
            flex-direction: column;
            gap: 20px;

            @include min-desktop {
                display: none;
            }

            &__item {
                text-align: center;

                img {
                    width: 100%;
                }

                p {
                    font-size: 75px;
                    line-height: 79px;
                    font-family: 'Montserrat';
                    font-style: italic;
                    font-weight: 500;

                    @include max-phone {
                        font-size: 34px;
                        line-height: 38px;
                    }
                }
            }
        }
    }
}

.client-section {
    background-color: $light-grey;

    @include max-tablet {
        padding-top: 30px;
    }

    .header-title {
        padding: 100px 0;

        @include max-phone {
            padding: 60px 0;
        }

        h2 {
            font-size: 60px;
            padding: 0 10px;

            @include max-phone {
                font-size: 36px;
            }
        }
    }

    &__inner {
        padding: 50px 0;

        @include max-tablet {
            padding: 60px 0 80px;
        }

        .client-list {
            display: flex;
            justify-content: center;
            gap: 20px;

            @include min-lg-desktop {
                gap: 30px;
            }

            @include max-tablet {
                flex-direction: column;
                align-items: center;
                gap: 35px;
            }

            @include max-phone {
                padding: 0 20px;
            }

            &__item {
                max-width: 320px;
                padding: 25px 35px 40px 35px;
                text-align: center;
                border-radius: 14px;
                box-shadow: -2px 5px 8px #d4d4d4;
                background-color: $white;
                color: $shadow-blue;

                @include min-lg-desktop {
                    max-width: 380px;
                }

                @include max-tablet {
                    max-width: 600px;
                    padding: 30px 50px 45px;
                }

                h3 {
                    margin-bottom: 5px;
                    font-size: 22px;
                    font-family: 'malasia';
                    font-weight: normal;

                    @include max-tablet {
                        margin-bottom: 20px;
                    }
                }

                p {
                    line-height: 20px;
                    font-size: 16px;

                    @include min-lg-desktop {
                        line-height: 22px;
                        font-size: 18px;
                    }

                    @include max-tablet {
                        font-size: 25px;
                        line-height: 30px;
                    }

                    @include max-tablet {
                        font-size: 18px;
                        line-height: 22px;
                    }
                }
            }
        }
    }
}

.enjoy-section {
    padding: 120px 0;
    margin-bottom: 50px;
    background-image: url($imgPrefix + 'images/home/disfruta.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    @include min-lg-desktop {
        padding: 180px 0;
        font-size: 18px;
    }

    @include max-tablet {
        padding: 85px 0;
        margin-bottom: 30px;
        min-height: 420px;
        background-position: center right -100px;
    }

    @include max-phone {
        background-position: center right -90px;
    }

    &__inner {
        max-width: 85%;
        margin: 0 auto;

        @include max-tablet {
            max-width: 90%;
        }

        @include max-phone {
            min-height: 200px;
        }

        p {
            font-size: 44px;
            line-height: 52px;
            color: $beryl-green;
            opacity: 0.7;
            font-family: 'Montserrat';
            font-weight: 400;
            font-style: italic;

            @include min-lg-desktop {
                font-size: 60px;
                line-height: 68px;
            }

            @include max-tablet {
                font-size: 30px;
                line-height: 34px;
            }

            @include max-phone {
                font-size: 20px;
                line-height: 24px;
                position: absolute;
                left: 20px;
                bottom: 20px;
            }

            strong {
                display: block;
                font-size: 44px;
                line-height: 52px;
                font-weight: 800;

                @include min-lg-desktop {
                    font-size: 60px;
                    line-height: 68px;
                }

                @include max-tablet {
                    font-size: 30px;
                    line-height: 34px;
                }

                @include max-phone {
                    font-size: 20px;
                    line-height: 24px;
                }

                &.first {
                    font-size: 76px;
                    line-height: 78px;

                    @include min-lg-desktop {
                        font-size: 102px;
                        line-height: 96px;
                    }

                    @include max-tablet {
                        font-size: 52px;
                        line-height: 56px;
                    }

                    @include max-phone {
                        font-size: 32px;
                        line-height: 36px;
                    }
                }
            }
        }
    }
}

.howdo-section {
    .header-title {
        padding: 70px 0;

        @include max-phone {
            padding: 0;
        }

        h2 {
            font-size: 39px;
            line-height: 52px;

            @include max-phone {
                padding: 50px 10px;
                font-size: 28px;
                line-height: 36px;
            }
        }
    }
    &__inner {
        max-width: 970px;
        padding: 100px 0;
        margin: 0 auto;

        @include min-lg-desktop {
            max-width: 1150px;
        }

        @include max-tablet {
            max-width: 90%;
        }

        @include max-phone {
            padding: 50px 0;
        }

        .howdo-content {
            color: $shadow-blue;
            text-align: center;

            &__img {
                margin-bottom: 30px;

                img {
                    width: 100%;
                }

                img.mobile {
                    display: none;
                    width: 40%;
                    margin: 0 auto;

                    @include max-tablet {
                        display: block;
                    }

                    @include max-phone {
                        width: 60%;
                    }
                }

                img.desktop {
                    @include max-tablet {
                        display: none;
                    }
                }
            }

            &__text {
                padding: 25px 30px;
                box-shadow: -4px 5px 10px #d4d4d4;
                background-color: $light-grey;
                max-width: 780px;
                text-align: center;
                margin: 0 auto 20px;

                @include min-lg-desktop {
                    max-width: 900px;
                }

                @include max-tablet {
                    max-width: 460px;
                    padding: 30px 35px;
                }

                p {
                    font-size: 18px;
                    line-height: 22px;

                    @include min-lg-desktop {
                        font-size: 22px;
                        line-height: 26px;
                    }

                    @include max-tablet {
                        font-size: 20px;
                        line-height: 24px;
                    }

                    @include max-phone {
                        font-size: 17px;
                        line-height: 21px;
                    }
                }
            }

            &__logo {
                img {
                    width: 450px;

                    @include max-tablet {
                        width: 420px;
                    }

                    @include max-phone {
                        width: 85%;
                    }
                }
            }
        }
    }
}

.packages-section {
    padding-bottom: 40px;
    background-image: url($imgPrefix + 'images/section-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include max-tablet {
        padding: 80px 0;
    }

    @include max-phone {
        padding: 50px 0;
    }

    &__inner {
        text-align: center;

        @include max-phone {
            padding: 0 20px;
        }

        h2 {
            text-align: center;
            display: inline-block;
            color: $white;
            border: 1px solid $white;
            border-top: 0;
            margin-bottom: 45px;
            font-family: 'Montserrat';
            font-weight: 400;
            text-transform: uppercase;
            padding: 20px 40px;
            border-radius: 0 0 20px 20px;
            letter-spacing: 10px;
            font-size: 28px;

            @include max-tablet {
                border-top: 1px solid $white;
                border-radius: 10px;
                padding: 35px 60px;
                font-size: 46px;
                line-height: 54px;
                max-width: 520px;
                font-weight: 200;
                letter-spacing: 20px;
                text-align: center;
                margin-bottom: 100px;
            }

            @include max-phone {
                border-top: 1px solid $white;
                border-radius: 10px;
                padding: 15px 20px;
                font-size: 24px;
                line-height: 30px;
                font-weight: 200;
                letter-spacing: 10px;
                text-align: center;
                margin-bottom: 50px;
            }
        }

        .packages-list {
            display: flex;
            justify-content: center;
            gap: 40px;
            margin-bottom: 50px;

            @include max-tablet {
                flex-direction: column;
                align-items: center;
            }

            &__item {
                border: 5px solid #7e909e;
                border-radius: 20px;
                width: 300px;
                min-height: 420px;
                padding: 30px 20px;
                background-color: $light-grey;
                color: $shadow-blue;
                text-align: center;
                display: flex;
                flex-direction: column;

                @include max-tablet {
                    width: 480px;
                    min-height: 650px;
                    padding: 30px 40px;
                }

                @include max-phone {
                    width: 95%;
                    min-height: 420px;
                }

                h3 {
                    font-family: 'malasia';
                    font-size: 28px;
                    font-weight: normal;
                }

                &__detail {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    p {
                        font-size: 14px;
                        line-height: 18px;

                        @include max-tablet {
                            font-size: 26px;
                            line-height: 32px;
                        }

                        @include max-phone {
                            font-size: 16px;
                            line-height: 20px;
                        }
                    }
                }
            }
        }

        .packages-contact {
            color: $white;

            p {
                margin-bottom: 20px;
                font-family: 'Montserrat';
                font-weight: 400;
                font-style: italic;
                letter-spacing: 3px;
                font-size: 20px;

                @include max-tablet {
                    font-size: 32px;
                }

                @include max-tablet {
                    font-size: 20px;
                }
            }

            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;

                @include max-tablet {
                    gap: 15px;
                }

                li {
                    a {
                        img {
                            width: 65px;

                            @include min-lg-desktop {
                                width: 85px;
                            }

                            @include max-tablet {
                                width: 120px;
                            }

                            @include max-phone {
                                width: 80px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.contact-section {
    padding: 100px 0;

    @include max-phone {
        padding: 60px 0;
    }

    &__inner {
        margin: 0 auto;

        @include max-tablet {
            max-width: 700px;
        }

        @include max-phone {
            max-width: 100%;
        }

        .contact-box {
            background-color: $light-grey;
            max-width: 992px;
            margin: 0 auto;

            &__inner {
                padding: 50px;

                @include max-phone {
                    padding: 0px;
                }

                &__content {
                    background-image: url($imgPrefix + 'images/home/contacto-home.jpg');
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                    background-position: center;
                    min-height: 750px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding-left: 20px;
                    font-family: 'Montserrat';
                    font-style: italic;

                    @include max-tablet {
                        min-height: 500px;
                    }
                    @include max-phone {
                        min-height: 380px;
                    }

                    &__text {
                        font-size: 20px;
                        line-height: 28px;
                        max-width: 40%;
                        padding-left: 20px;
                        color: $white;
                        font-weight: 200;
                        margin-top: -120px;

                        @include max-tablet {
                            font-size: 16px;
                            line-height: 20px;
                            max-width: 40%;
                            margin-top: -60px;
                        }

                        @include max-phone {
                            display: none;
                        }

                        p {
                            font-size: 24px;

                            @include max-tablet {
                                font-size: 16px;
                                line-height: 20px;
                            }
                        }

                        span {
                            margin-bottom: 7px;
                            display: block;
                            font-size: 28px;
                            line-height: 32px;

                            @include max-tablet {
                                font-size: 18px;
                                line-height: 20px;
                                margin-bottom: 15px;
                            }
                        }

                        strong {
                            display: block;
                            font-size: 34px;
                            line-height: 40px;

                            @include max-tablet {
                                font-size: 20px;
                                line-height: 24px;
                                max-width: 180px;
                            }

                            &.number {
                                font-family: 'Montserrat';
                                font-style: normal;
                                font-size: 44px;
                                line-height: 48px;

                                @include max-tablet {
                                    font-size: 30px;
                                    line-height: 34px;
                                    max-width: 220px;
                                }
                            }
                        }

                        ul {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            gap: 10px;
                            margin: 20px 0;

                            @include max-tablet {
                                margin: 15px 0;
                            }

                            li {
                                a {
                                    img {
                                        width: 75px;

                                        @include max-tablet {
                                            width: 60px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
