.makeup-header {
    &__inner {
        max-width: 650px;
        margin: 0 auto;
    }
}

.makeup-main-section {
    padding: 40px 0 80px;
    background-color: $light-grey;

    &__inner {
        .makeup-box {
            max-width: 650px;
            margin: 0 auto;

            &__image {
                display: flex;
                gap: 10px;
                margin-bottom: 10px;

                &__left {
                    max-width: 600px;

                    img {
                        width: 100%;
                    }
                }

                &__right {
                    img {
                        width: 100%;
                    }
                }
            }

            &__text {
                color: $shadow-blue;

                p {
                    font-size: 18px;
                    line-height: 24px;

                    strong {
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

.gallery-women {
    padding: 20px 0 80px;

    &__content {
        max-width: 750px;
        margin: 0 auto;
        display: flex;
        gap: 10px;
        flex-direction: column;

        .gallery-general {
            &__left {
                padding-top: 60px;
                flex-basis: 50%;
            }

            &__right {
                flex-basis: 50%;
            }
        }
    }
}

.gallery-men {
    padding: 60px 0;
    background-color: $light-grey;

    &__content {
        max-width: 750px;
        margin: 0 auto;
        display: flex;
        gap: 10px;
        flex-direction: column;

        .gallery-general {
            &__full {
                max-width: 80%;
                margin: 0 auto;
            }

            &__left {
                flex-basis: 50%;
            }

            &__right {
                flex-basis: 50%;
            }
        }
    }
}
