.makeup-header {
    &__inner {
        max-width: 650px;
        margin: 0 auto;
    }
}

.makeup-main-section {
    padding: 40px 0 80px;
    background-color: $light-grey;

    &__inner {
        @include max-phone {
            padding: 0 20px;
        }

        .makeup-box {
            max-width: 850px;
            margin: 0 auto;

            &__image {
                display: flex;
                gap: 10px;
                margin-bottom: 10px;

                &__left {
                    max-width: 650px;

                    img {
                        width: 100%;
                    }
                }

                &__right {
                    @include max-phone {
                        display: none;
                    }
                    img {
                        width: 100%;
                    }
                }
            }

            &__text {
                color: $shadow-blue;

                p {
                    font-size: 25px;
                    line-height: 30px;

                    @include max-phone {
                        font-size: 20px;
                        line-height: 24px;
                        padding: 0 20px;
                    }

                    strong {
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

.gallery-women {
    padding: 20px 0 80px;

    &__content {
        max-width: 992px;
        margin: 0 auto;
        display: flex;
        gap: 10px;
        flex-direction: column;

        @include max-phone {
            gap: 20px;
        }

        .gallery-general {
            @include max-tablet {
                flex-direction: column;
                gap: 20px;
            }

            p {
                @include max-tablet {
                    font-size: 25px;
                    line-height: 30px;
                    padding: 10px 30px;
                }

                @include max-phone {
                    font-size: 16px;
                    line-height: 20px;
                    padding: 10px 20px;
                }
            }

            &__left {
                padding-top: 60px;
                flex-basis: 50%;

                @include max-tablet {
                    gap: 20px;
                }
            }

            &__right {
                flex-basis: 50%;

                @include max-tablet {
                    gap: 20px;
                }
            }
        }
    }
}

.gallery-men {
    padding: 60px 0;
    background-color: $light-grey;

    &__content {
        max-width: 992px;
        margin: 0 auto;
        display: flex;
        gap: 10px;
        flex-direction: column;

        @include max-tablet {
            gap: 20px;
        }

        .gallery-general {
            @include max-tablet {
                flex-direction: column;
                max-width: 80%;
                margin: 0 auto;
                gap: 20px;
            }

            p {
                @include max-tablet {
                    font-size: 25px;
                    line-height: 30px;
                    padding: 10px 20px;
                }

                @include max-phone {
                    font-size: 16px;
                    line-height: 20px;
                    padding: 10px 20px;
                }
            }

            &__full {
                max-width: 86%;
                margin: 0 auto;
                overflow: hidden;

                @include max-tablet {
                    max-width: 100%;
                }

                &__item {
                    overflow: hidden;
                    img {
                        transition: all 300ms ease;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }

            &__left {
                flex-basis: 50%;

                @include max-tablet {
                    gap: 20px;
                }
            }

            &__right {
                flex-basis: 50%;

                @include max-tablet {
                    gap: 20px;
                }
            }
        }
    }
}
