.outdoor-header {
    &__inner {
        max-width: 650px;
        margin: 0 auto;
    }
}

.outdoor-main-section {
    padding: 40px 0 80px;
    background-color: $light-grey;

    &__inner {
        .outdoor-box {
            max-width: 750px;
            margin: 0 auto;

            &__image {
                display: flex;
                gap: 15px;
                margin-bottom: 10px;
            }

            &__text {
                color: $shadow-blue;

                p {
                    font-size: 20px;
                    line-height: 24px;
                }
            }
        }
    }
}

.outdoor-main-section {
    padding: 40px 0 80px;
    background-color: $light-grey;

    &__inner {
        .outdoor-box {
            max-width: 550px;
            margin: 0 auto;

            &__image {
                display: flex;
                gap: 10px;
                margin-bottom: 10px;

                &__left {
                    max-width: 600px;

                    img {
                        width: 100%;
                    }
                }

                &__right {
                    img {
                        width: 100%;
                    }
                }
            }

            &__text {
                color: $shadow-blue;

                p {
                    font-size: 18px;
                    line-height: 24px;

                    strong {
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

.gallery-outdoor {
    padding: 20px 0 80px;

    &__content {
        max-width: 750px;
        margin: 0 auto;
        display: flex;
        gap: 10px;
        flex-direction: column;

        .gallery-general {
            &__left {
                &.group-1 {
                    flex-basis: 45%;
                }

                &.group-3 {
                    flex-basis: 65%;
                }
            }

            &__right {
                &.group-1 {
                    flex-basis: 55%;
                }

                &.group-3 {
                    flex-basis: 40%;
                }
            }
        }
    }
}
