.outdoor-header {
    &__inner {
        max-width: 650px;
        margin: 0 auto;
    }
}

.outdoor-main-section {
    padding: 40px 0 80px;
    background-color: $light-grey;

    &__inner {
        @include max-phone {
            padding: 0 20px;
        }

        .outdoor-box {
            max-width: 710px;
            margin: 0 auto;

            &__image {
                display: flex;
                gap: 10px;
                margin-bottom: 10px;

                &__left {
                    max-width: 600px;

                    img {
                        width: 100%;
                    }
                }

                &__right {
                    @include max-phone {
                        display: none;
                    }

                    img {
                        width: 100%;
                    }
                }
            }

            &__text {
                color: $shadow-blue;

                p {
                    font-size: 25px;
                    line-height: 30px;

                    @include max-phone {
                        font-size: 20px;
                        line-height: 24px;
                        padding: 0 20px;
                    }

                    strong {
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

.gallery-outdoor {
    padding: 20px 0 80px;

    @include max-phone {
        padding: 20px 0 40px;
    }

    &__content {
        max-width: 992px;
        margin: 0 auto;
        display: flex;
        gap: 10px;
        flex-direction: column;

        @include max-tablet {
            padding: 0 30px;
            gap: 20px;
        }

        @include max-phone {
            padding: 0px;
            gap: 20px;
        }

        .gallery-general {
            @include max-tablet {
                flex-direction: column;
                gap: 20px;
            }

            &__image {
                overflow: hidden;

                &__inner {
                    overflow: hidden;
                }

                img {
                    transition: all 200ms ease;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }

            p {
                @include max-tablet {
                    font-size: 25px;
                    line-height: 30px;
                    padding: 10px 30px;
                }

                @include max-phone {
                    font-size: 16px;
                    line-height: 20px;
                    padding: 10px 20px;
                }
            }

            &__left {
                &.group-1 {
                    flex-basis: 45%;
                }

                &.group-3 {
                    flex-basis: 65%;
                }
            }

            &__right {
                &.group-1 {
                    flex-basis: 55%;
                }

                &.group-3 {
                    flex-basis: 40%;
                }
            }

            &__col-50 {
                @include max-tablet {
                    width: 100%;
                    gap: 20px;
                }
            }

            &__col-25 {
                @include max-tablet {
                    gap: 20px;
                    width: 100%;
                }

                &.tablet-block {
                    flex-direction: row;

                    @include max-phone {
                        flex-direction: column;
                    }

                    .gallery-general__image {
                        @include max-tablet {
                            width: 37%;
                        }

                        @include max-phone {
                            width: 100%;
                        }

                        &:last-child {
                            width: 63%;

                            @include max-phone {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .hidden-tablet {
                @include max-tablet {
                    display: none;
                }
            }

            .show-tablet {
                @include min-desktop {
                    display: none;
                }
            }
        }
    }
}

.box-contact {
    position: absolute;
    top: 0;
    right: 50px;
    height: 100%;
    flex-direction: column;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;

    @include max-phone {
        position: static;
        margin-top: 5px;
        background-color: $shadow-blue;
        padding: 20px 0 30px;
    }

    &__top {
        border-bottom: 1px solid $white;
        padding-bottom: 10px;

        img {
            width: 350px;

            @include max-tablet {
                width: 250px;
            }

            @include max-phone {
                width: 280px;
            }
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding-top: 10px;

        i {
            font-size: 32px;
        }

        p {
            font-size: 14px !important;
            max-width: 210px;
            line-height: 15px !important;

            @include max-tablet {
                font-size: 12px !important;
                line-height: 13px !important;
                padding: 0 !important;
                max-width: 180px;
            }

            @include max-phone {
                padding: 0 !important;
            }
        }
    }
}
