extends ./layouts/_default.pug

block content
    header.familia-header.page-header
        .familia-header__inner.page-header__inner
            .familia-box.page-header__inner__box
                img(src="/images/iso-photo.png" width="60" style="width:60px")
                h1 Familia
    section.familia-main-section
        .container
            .familia-main-section__inner
                .familia-box
                    .familia-box__image
                        img(src="/images/familia/main-familia.jpg")
                    .familia-box__text
                        p No hay mejor regalo para tu #[strong familia], que enmarcar los momentos que disfrutan juntos, con fotos increíbles.
    section.gallery-familia
        .container
            .gallery-familia__content
                .gallery-general
                    .gallery-general__left.group-1
                        .gallery-general__left__item
                            img(src="/images/familia/photo1.jpg" alt="Gallery")
                    .gallery-general__right.group-1.hidden-tablet
                        .gallery-general__right__item
                            img(src="/images/familia/photo2.jpg" alt="Gallery")
                .gallery-general.show-tablet.col-50
                    .gallery-general__left.group-1
                        .gallery-general__left__item
                            img(src="/images/familia/photo2.jpg" alt="Gallery")
                    .gallery-general__right.group-1
                        .gallery-general__right__item
                            img(src="/images/familia/photo4.jpg" alt="Gallery")
                .gallery-general
                    .gallery-general__full
                        .gallery-general__full__image
                            img(src="/images/familia/photo3.jpg" alt="Gallery")
                .gallery-general
                    .gallery-general__left.group-3.hidden-tablet
                        .gallery-general__left__item
                            img(src="/images/familia/photo4.jpg" alt="Gallery")
                    .gallery-general__right.group-3
                        .gallery-general__right__item
                            img(src="/images/familia/photo5.jpg" alt="Gallery")
                            p Cumplieron con todo lo que buscábamos y más!! Necesitábamos a quien pudiera captar lo mejor de cada momento. Sobre todo tener paciencia, creatividad y flexibilidad, pues tenemos una nena pequeña que es súper dinámica y juguetona. Realmente recomendamos su trabajo, nos hicieron sentir cómodos y naturales. Nuestra pequeña la pasó increíble.
                