.footer {
    background-color: $shadow-blue;
    color: $white;
    padding: 35px 0 30px;
    font-family: 'Montserrat';
    font-weight: 500;

    .footer-content {
        display: flex;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 45px;
        flex-wrap: wrap;

        @include max-tablet {
            flex-direction: column;
            width: 80%;
        }

        @include max-phone {
            width: 90%;
        }

        &__qr {
            flex-grow: 1;
            padding: 0 40px;
            flex-basis: 250px;
            text-align: center;

            @include max-tablet {
                flex-basis: auto;
                padding: 30px 0px;
                border-bottom: 1px solid $white;
                text-align: left;
            }

            @include max-phone {
                text-align: center;
            }

            img {
                width: 150px;

                @include max-phone {
                    width: 90px;
                }
            }
        }

        &__contact {
            flex-grow: 2;
            padding: 0 50px;
            border-left: 1px solid $white;
            border-right: 1px solid $white;

            @include max-tablet {
                flex-basis: auto;
                padding: 30px 0px;
                border-right: 0;
                border-left: 0;
            }

            @include max-phone {
                text-align: center;
                border-bottom: 1px solid $white;
            }

            p {
                margin-bottom: 30px;
                font-size: 17px;
            }

            ul {
                li {
                    margin-bottom: 15px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    a {
                        color: $white;
                        font-size: 18px;
                        display: flex;
                        gap: 15px;
                        align-items: center;

                        @include max-phone {
                            flex-direction: column;
                        }

                        i {
                            font-size: 28px;
                        }

                        img {
                            width: 30px;
                        }
                    }
                }
            }
        }

        &__follow {
            padding: 0 40px;
            flex-grow: 1;
            flex-basis: 250px;

            @include max-tablet {
                flex-direction: column;
                display: flex;
                align-items: flex-end;
                flex-basis: auto;
            }

            @include max-phone {
                align-items: center;
                padding-top: 20px;
            }

            p {
                margin-bottom: 30px;
                font-size: 17px;
            }

            ul {
                display: flex;
                gap: 15px;

                li {
                    a {
                        color: $white;
                        font-size: 48px;
                    }
                }
            }
        }
    }

    .copy {
        font-size: 14px;
        text-align: center;
        opacity: 0.7;
        letter-spacing: 2px;
        font-family: 'montserrat-light';

        @include max-phone {
            padding: 0 30px;
            line-height: 16px;
        }
    }
}
