.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 40px 0;

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        @include max-tablet {
            display: none;
            position: fixed;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            z-index: 3;
        }

        &.active {
            @include max-tablet {
                display: flex;
                flex-direction: column;
                gap: 40px;
                background-color: $shadow-blue;
                color: $white;
            }

            li {
                &:after {
                    display: none;
                }

                a {
                    @include max-tablet {
                        font-size: 32px;
                        color: $white;
                    }
                }
            }

            & + button.hamburguer {
                position: fixed;

                span {
                    background-color: $white;
                }
            }
        }

        li {
            position: relative;

            &:last-child {
                &::after {
                    display: none;
                }
            }

            &:after {
                content: '';
                display: block;
                position: absolute;
                height: 100%;
                border: 0;
                border-right: 1px solid $white;
                right: 0;
                top: 0;
            }

            a {
                text-transform: uppercase;
                color: $white;
                display: inline-block;
                font-family: 'montserrat-light';
                font-size: 14px;
                letter-spacing: 3px;
                padding: 0px 25px;

                @include min-lg-desktop {
                    font-size: 16px;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.hamburguer {
    background: transparent;
    border: 0;
    cursor: pointer;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 20px;
    top: 20px;
    display: none;
    opacity: 0.8;
    z-index: 4;

    @include max-tablet {
        display: block;
    }

    span {
        display: block;
        width: 60%;
        margin: 4px auto;
        height: 4px;
        background: $white;
    }
}
