* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

html,
body {
    min-height: 100%;
    font-family: 'montserrat-regular', sans-serif, monospace;
    color: #545454;
    background-color: #fff;
    font-size: 16px;
}

html {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.container {
    width: 100%;
}

.header-title {
    color: $white;
    text-align: center;
    padding: 35px 0;
    background-image: url($imgPrefix + 'images/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'loew-italic';
    font-weight: 500;
    font-style: italic;

    @include max-tablet {
        width: 90%;
        margin: 0 auto;
        padding: 40px 0 60px;
    }

    h2 {
        font-size: 42px;
        font-weight: normal;
        letter-spacing: 1px;
        line-height: 42px;

        @include min-lg-desktop {
            font-size: 48px;
            line-height: 46px;
        }

        @include max-tablet {
            font-size: 60px;
            line-height: 80px;
            padding: 0 30px;
            font-weight: 200;
        }

        @include max-phone {
            font-size: 36px;
            line-height: 42px;
            padding: 0 20px;
        }
    }

    p {
        margin-top: 8px;
        font-size: 20px;
        letter-spacing: 1px;

        @include min-lg-desktop {
            font-size: 24px;
        }

        @include max-tablet {
            font-size: 32px;
            line-height: 36px;
            max-width: 460px;
            border-top: 1px solid $white;
            border-bottom: 1px solid $white;
            padding: 15px 0 20px;
            margin: 0 auto;
            font-weight: 200;
            opacity: 0.8;
            margin-top: 30px;
        }

        @include max-phone {
            font-size: 20px;
            line-height: 22px;
            padding: 15px 05px 20px;
            max-width: 90%;
        }
    }
}

.page-header {
    padding: 10px 0;
    background-image: url($imgPrefix + 'images/header-bg.jpg');

    &__inner {
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;

        @include max-phone {
            padding: 0 20px;
        }

        &__box {
            display: flex;
            color: $white;
            font-family: 'Montserrat';
            align-items: center;
            font-style: italic;
            gap: 15px;

            @include max-tablet {
                justify-content: center;
            }

            img {
                width: 80px;

                @include max-phone {
                    width: 50px;
                }
            }

            h1 {
                font-weight: 100;
                font-size: 64px;
                line-height: 66px;

                @include max-phone {
                    font-size: 44px;
                    line-height: 44px;
                }
            }

            span {
                font-size: 20px;
                line-height: 20px;
                display: block;

                @include max-phone {
                    font-size: 14px;
                    line-height: 14px;
                }
            }
        }
    }
}

.gallery-general {
    display: flex;
    gap: 10px;
    color: $shadow-blue;

    &.column {
        flex-direction: column;
    }

    img {
        width: 100%;
        display: block;
    }

    p {
        margin-top: 5px;
        line-height: 24px;
        font-size: 20px;
    }

    &__left {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        &.preboda-1 {
            min-width: 612px;

            @include max-phone {
                min-width: 100%;
            }
        }

        &__item {
            position: relative;
            overflow: hidden;

            &__image {
                overflow: hidden;
            }

            img {
                transition: all 200ms ease;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &.preboda-2 {
            min-width: 612px;

            @include max-phone {
                min-width: 100%;
            }
        }

        &__item {
            position: relative;
            overflow: hidden;

            &__image {
                overflow: hidden;
            }

            img {
                transition: all 200ms ease;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

    &__full {
        position: relative;

        &__item {
            overflow: hidden;

            &__image {
                overflow: hidden;
            }

            img {
                transition: all 200ms ease;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        &__image {
            overflow: hidden;

            img {
                transition: all 200ms ease;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

    &__col-50 {
        width: 66.6666666%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__col-25 {
        width: 33.33333333%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.bg-grey {
    background-color: $light-grey !important;
}

.bg-white {
    background-color: $white !important;
}
